<template>
  <div class="container">
    <div class="wrapper">
      <NuxtImg src="/image-qr-code.png" alt="qr-code" />
      <div class="content">
        <h1>
          Improve your front-end skills by building projects
        </h1>
        <p>
          Scan the QR code to visit Frontend Mentor and take your coding skills to the next level
        </p>
      </div>
    </div>
  </div>
</template>

<style>
html {
  /* colors */
  --clr-white: hsl(0, 0%, 100%);
  --clr-gray: hsl(212, 45%, 89%);
  --clr-blue: hsl(220, 15%, 55%);
  --clr-darkblue: hsl(218, 44%, 22%);

  background-color: var(--clr-gray);

  font-size: 15px;
  font-family: Outfit, sans-serif;
}

.container {
  height: 100vh;
  display: flex;
}

.wrapper {
  background-color: var(--clr-white);
  width: min-content;
  height: fit-content;
  padding: 16px;
  border-radius: 20px;
  align-self: center;
  margin: auto;

  box-shadow: 0px 10px 29px 0px rgba(0, 0, 0, 0.075);
}

.wrapper > img {
  border-radius: 10px;
}

.content {
  padding: 5px 18px 10px;
  text-align: center;
}

.content > h1 {
  color: var(--clr-darkblue);
  font-size: 1.47em;
}

.content > p {
  color: var(--clr-blue);
}
</style>
